<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118590596-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-118590596-1');
  </script>
</head>
<title>PICTURESQUE.AI</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<style>
body, html {font-family: "Inconsolata", sans-serif;}
h1,h2,h3,h4,h5,h6 {
    letter-spacing: 2px;
}
    
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-padding w3-card" style="letter-spacing:4px;">
    <a href="/" class="w3-bar-item w3-button">Home</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
      <!-- <a href="/home" class="w3-bar-item w3-button">Home</a>-->
      <a href="/profile" class="w3-bar-item w3-button">Profile</a>
      </div>
      <div class="w3-right w3-hide-small">
      <!-- <a href="/home" class="w3-bar-item w3-button">Home</a>-->
      <a href="/upgrade" class="w3-bar-item w3-button">Upgrade</a>
      </div>
    <div class="w3-right w3-hide-small">
      <!-- <a href="/home" class="w3-bar-item w3-button">Home</a>-->
      <a href="/logout" class="w3-bar-item w3-button">Logout</a>
    </div>

  </div>
</div>
    <div class="w3-content w3-padding" style = "margin-top: 80px">
          <h1 class="page-header" style = "margin-left: 30px">Welcome, {{ name }}</h1>
    </div>
    <div class="w3-content" style = "margin: 30px 30px 50px 50px"> 
     <div class="header">
        <h3 class="text-muted">Please upload your photos</h3>
      </div>
      <hr/>
      <div >

      <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" multiple="" name="file[]" id="gallery-photo-add" class="span3" />
        <input type="submit" value="Upload and Evaluate"  class="span2">
        <div class="gallery" id = "show" style="margin: 30px 30px 30px 30px"></div>
      </form>
        {% if error==1 %}
        <p>Oops! Please upload up to 5 photos.</p>
        {% endif %}
        {% if error==2 %}
        <p>Oops! Please upload 'txt', 'pdf', 'png', 'jpg', 'jpeg', 'gif' image.</p>
        <p>"{{wrongfile}}" has improper extension.</p>
        {% endif %}
    </div>
    </div>

            
    <script>
$(function() {
    // Multiple images preview in browser
    var imagesPreview = function(input, placeToInsertImagePreview) {
        document.getElementById("show").innerHTML = " "
        if (input.files) {
            var filesAmount = input.files.length;
            
            if (filesAmount <= 5){
                for (i = 0; i < filesAmount; i++) {
                    var reader = new FileReader();

                    reader.onload = function(event) {
                        $($.parseHTML('<img>')).attr({'src':event.target.result,'height': '180px'}).appendTo(placeToInsertImagePreview);
                    }

                reader.readAsDataURL(input.files[i]);}
            }else { 
                    document.getElementById("show").innerHTML = "<span style='color:#FF0000'> Max 5 Files Allowed！ </span>";
                }
            }

            
        };

    $('#gallery-photo-add').on('change', function() {
        imagesPreview(this, 'div.gallery');
    });
});
</script>

</body>
</html>
